<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutu.mapper.mysql.TMenuSystemMapper">
  <resultMap id="BaseResultMap" type="com.yutu.entity.table.TMenuSystem">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="menu_title" jdbcType="VARCHAR" property="menuTitle" />
    <result column="menu_type" jdbcType="INTEGER" property="menuType" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_page_class" jdbcType="VARCHAR" property="menuPageClass" />
    <result column="menu_page_other" jdbcType="VARCHAR" property="menuPageOther" />
    <result column="order_by" jdbcType="INTEGER" property="orderBy" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, menu_title, menu_type, menu_url, menu_page_class, menu_page_other, order_by, 
    delete_status, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_menu_system
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_menu_system
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yutu.entity.table.TMenuSystem">
    insert into t_menu_system (uuid, menu_title, menu_type, 
      menu_url, menu_page_class, menu_page_other, 
      order_by, delete_status, remarks
      )
    values (#{uuid,jdbcType=VARCHAR}, #{menuTitle,jdbcType=VARCHAR}, #{menuType,jdbcType=INTEGER}, 
      #{menuUrl,jdbcType=VARCHAR}, #{menuPageClass,jdbcType=VARCHAR}, #{menuPageOther,jdbcType=VARCHAR}, 
      #{orderBy,jdbcType=INTEGER}, #{deleteStatus,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yutu.entity.table.TMenuSystem">
    insert into t_menu_system
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="menuTitle != null">
        menu_title,
      </if>
      <if test="menuType != null">
        menu_type,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="menuPageClass != null">
        menu_page_class,
      </if>
      <if test="menuPageOther != null">
        menu_page_other,
      </if>
      <if test="orderBy != null">
        order_by,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="menuTitle != null">
        #{menuTitle,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuPageClass != null">
        #{menuPageClass,jdbcType=VARCHAR},
      </if>
      <if test="menuPageOther != null">
        #{menuPageOther,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yutu.entity.table.TMenuSystem">
    update t_menu_system
    <set>
      <if test="menuTitle != null">
        menu_title = #{menuTitle,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuPageClass != null">
        menu_page_class = #{menuPageClass,jdbcType=VARCHAR},
      </if>
      <if test="menuPageOther != null">
        menu_page_other = #{menuPageOther,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        order_by = #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yutu.entity.table.TMenuSystem">
    update t_menu_system
    set menu_title = #{menuTitle,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=INTEGER},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_page_class = #{menuPageClass,jdbcType=VARCHAR},
      menu_page_other = #{menuPageOther,jdbcType=VARCHAR},
      order_by = #{orderBy,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <select id="getRoleMenuSys" resultMap="BaseResultMap"  >
      SELECT S.* FROM t_menu_system S JOIN t_sys_role_menusys R ON S.`uuid`=R.`menusys_uuid` WHERE R.`role_uuid` =#{roleId}
  </select>
</mapper>