<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutu.mapper.mysql.TSysUserMapper">
    <resultMap id="BaseResultMap" type="com.yutu.entity.table.TSysUser">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <result column="user_account" jdbcType="VARCHAR" property="userAccount"/>
        <result column="user_pwd" jdbcType="VARCHAR" property="userPwd"/>
        <result column="user_question" jdbcType="VARCHAR" property="userQuestion"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_sex" jdbcType="INTEGER" property="userSex"/>
        <result column="user_title" jdbcType="VARCHAR" property="userTitle"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_status" jdbcType="INTEGER" property="userStatus"/>
        <result column="order_by" jdbcType="INTEGER" property="orderBy"/>
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    </resultMap>
    <sql id="Base_Column_List">
    uuid, user_code, user_account, user_pwd, user_question, user_name, user_sex, user_title, 
    user_phone, user_email, user_status, order_by, delete_status, remarks
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where uuid = #{uuid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_user
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.yutu.entity.table.TSysUser">
    insert into t_sys_user (uuid, user_code, user_account, 
      user_pwd, user_question, user_name, 
      user_sex, user_title, user_phone, 
      user_email, user_status, order_by, 
      delete_status, remarks)
    values (#{uuid,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{userQuestion,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=INTEGER}, #{userTitle,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userStatus,jdbcType=INTEGER}, #{orderBy,jdbcType=INTEGER}, 
      #{deleteStatus,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.yutu.entity.table.TSysUser">
        insert into t_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="userAccount != null">
                user_account,
            </if>
            <if test="userPwd != null">
                user_pwd,
            </if>
            <if test="userQuestion != null">
                user_question,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userSex != null">
                user_sex,
            </if>
            <if test="userTitle != null">
                user_title,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="userStatus != null">
                user_status,
            </if>
            <if test="orderBy != null">
                order_by,
            </if>
            <if test="deleteStatus != null">
                delete_status,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userAccount != null">
                #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userQuestion != null">
                #{userQuestion,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=INTEGER},
            </if>
            <if test="userTitle != null">
                #{userTitle,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="orderBy != null">
                #{orderBy,jdbcType=INTEGER},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus,jdbcType=INTEGER},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yutu.entity.table.TSysUser">
        update t_sys_user
        <set>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userAccount != null">
                user_account = #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                user_pwd = #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userQuestion != null">
                user_question = #{userQuestion,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                user_sex = #{userSex,jdbcType=INTEGER},
            </if>
            <if test="userTitle != null">
                user_title = #{userTitle,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="orderBy != null">
                order_by = #{orderBy,jdbcType=INTEGER},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus,jdbcType=INTEGER},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where uuid = #{uuid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yutu.entity.table.TSysUser">
    update t_sys_user
    set user_code = #{userCode,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_question = #{userQuestion,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_title = #{userTitle,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=INTEGER},
      order_by = #{orderBy,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
    <select id="getLoginVerification" resultType="map">
        SELECT U.`uuid`,U.`user_account`,U.`user_name`,U.`user_code`,U.`user_email`,
	           U.`user_phone`,U.`user_sex`,U.`user_title`, R.`role_uuid`,O.`org_uuid`
        FROM t_sys_user U
            JOIN t_sys_user_role R ON U.`uuid`=R.`user_uuid`
            JOIN t_sys_user_organization O ON U.`uuid`=R.`user_uuid`
        WHERE U.user_account=#{userName} and U.user_pwd=#{userPwd}
  </select>
</mapper>